<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TESTGitGub" verbose="1" >
    <test name="GitHubTestsSuite" >

        <parameter name="userName" value="alex-slapoguzov"/>

        <classes>
            <class name="com.epam.ta.GitHubAutomationTest">
            </class>
        </classes>
    </test>
</suite>